body{
    min-width: 1200px;
}

select {
    background-color:#ededed;
    color: black;
    padding: 11px;
    font-size: 11px;
    border-radius:12px;
    cursor: pointer;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    border:1px solid gray;
}
select:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
select:active {
     position:relative;
     top:1px;
 }

option {
    display: block;
    position: absolute;
    background-color:#ededed;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border:1px solid gray;

}

table {
    font-family: arial;
    border-collapse: collapse;
    width: 50%;
    font-size: 12px;
    margin-top: 250px;
    margin-left: 20px;
}

td, th {
    border: none;
    text-align: center;
    margin-top:20px;
    padding: 5px;
}

.audioInput {
    width: 0.1px;
    height:0.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index: -1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;

}
.audioInput + label {
    font-size:1em;
    font-weight: 700;
    color:black;
    background-color:#ededed;
    display: inline-block;
    cursor:pointer;
    border-radius: 12px;
    padding:14px 40px;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    border:1px solid gray;
float:left;

}
.audioInput + label:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;

}
.playPause {
    margin-left: 0px;
    font-size:0.85em;
    font-weight: 700;
    background-color: #ededed;
    color:black;
    display: inline-block;
    cursor:pointer;
    margin-top:10px;
    border:1px solid gray;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    border-radius:50%;
    width:20%;
    height: 60%;
    position:center;

}
.playPause:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}


.stop{
    margin-left: 0px;
    font-size:0.85em;
    font-weight: 700;
    background-color: #ededed;
    color:black;
    display: inline-block;
    cursor:pointer;
    margin-top:0px;
    border:1px solid gray;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    border-radius:50%;
    width:20%;
    height: 60%;
}
.stop:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

.Gain {
    margin-left: 5px;
    margin-top: 10px;

}
/*!*Gain button*!*/
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 50%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. *!*/
}

input[type=range]::-ms-track {
    margin-top: -35px;
    width: 50%;
    cursor: pointer;

    /*!* Hides the slider so custom styles can be added *!*/
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 50%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    margin-left:10px;
    margin-top: -13px;
    width: 5%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background:#ededed;;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {

    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 8px;
    border-radius: 3px;
    background:darkgray;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

.buttons{
    margin-left:10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    text-indent:0px;
    display:inline-block;
    color:#777777;
    font-size:19px;
    font-weight:bold;
    font-style:normal;
    height:48px;
    line-height:48px;
    width:150px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    margin-top:-2px;
    border-radius: 15px;
    padding-left:10px;
    padding-right: 10px;
    border:1px solid gray;
}


#canvasDivSpec{
    margin-top: 20px;
    margin-left: 5px;
    min-width: 1200px;
    height: 545px;
    position: absolute;
    overflow-x: scroll;
    border:1px solid #bfbfbf;
}
#canvasSpec{
    margin-left: 25px;
    position: absolute;
    z-index: 0
}
#canvasLine{
    position: absolute;
    margin-left: 25px;
    z-index: 0
}

#canvasScale{
    position: absolute;
    z-index: 0
}

#divCanvasLegend{
    margin-top: -75px;
    margin-left: 800px;
    width: 300px;
    height: 75px;
    position: absolute;
}
#canvasLegend{
    position: absolute;
    z-index: 0;
    border: 1px solid #bfbfbf;
}

#canvasDivWave{
    margin-top: 20px;
    margin-left: 5px;
    min-width: 1205px;
    height: 230px;
    position: absolute;
    overflow-x: scroll;
    border: 1px solid #bfbfbf;
}

#canvasWave{
    margin-left: 25px;
    position: absolute;
    z-index: 0;
}

#canvasRMS{
    margin-left: 25px;
    position: absolute;
    z-index: 0;
}

#canvasWaveLine{
    margin-left: 25px;
    position: absolute;
    z-index: 0;
}

#canvasWaveSpec{

}

#progressBar {
    border: 1px solid #aaa;
    color: #fff;
    width: 295px;
    height: 20px;
}
#progress{
    background-color: red;
    height: 20px;
    display:inline-block;
}
#canvas {
    border-style: solid;
    border-width:1px;
    padding: 3px;
}
