body{
    min-width: 1200px;
}

select {
    background: deepskyblue;
    color: black;
    padding: 11px;
    font-size: 11px;
    border-radius:12px;
    cursor: pointer;
}

option {
    display: block;
    position: absolute;
    background-color: deepskyblue;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

table {
    font-family: arial;
    border-collapse: collapse;
    width: 50%;
    font-size: 12px;
    margin-top: 250px;
    margin-left: 20px;
}

td, th {
    border: none;
    text-align: center;
    margin-top:20px;
    padding: 5px;
}

.audioInput {
    width: 0.1px;
    height:0.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index: -1;

}
.audioInput + label {
    font-size:1em;
    font-weight: 700;
    color:black;
    background-color:deepskyblue;
    display: inline-block;
    cursor:pointer;
    border-radius: 12px;
    padding:14px 40px;
float:left;

}
.audioInput + label:hover {
    background-color: lightgray;

}
.playPause {
    margin-left: 10px;
    font-size:0.85em;
    font-weight: 700;
    background-color: white;
    color:black;
    display: inline-block;
    cursor:pointer;
    margin-top:10px;
    border:white;
}
.playPause:hover {
    background-color:lightgray;
}
.stop{
    margin-left: 0px;
    font-size:0.85em;
    font-weight: 700;
    background-color: white;
    color:black;
    display: inline-block;
    cursor:pointer;
    margin-top:0px;
    border:white;
}
.stop:hover {
    background-color:lightgray;
}

.Gain {
    margin-left: 5px;
    margin-top: 10px;

}
/*!*Gain button*!*/
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 10%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. *!*/
}

input[type=range]::-ms-track {
    margin-top: -40px;
    width: 10%;
    cursor: pointer;

    /*!* Hides the slider so custom styles can be added *!*/
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 5%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    margin-left:10px;
    margin-top: 0px;
    width: 5%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {

    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 8px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
/*input[type=range]:focus::-webkit-slider-runnable-track {*/
    /*background: #367ebd;*/
/*}*/
/*input[type=range]::-moz-range-track {*/
    /*margin-left:50px;*/
    /*margin-top: -55px;*/
    /*width: 10%;*/
    /*height: 8.4px;*/
    /*cursor: pointer;*/
    /*animate: 0.2s;*/
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    /*background: #3071a9;*/
    /*border-radius: 1.3px;*/
    /*border: 0.2px solid #010101;*/
/*}*/
/*input[type=range]::-moz-range-thumb {*/
    /*margin-left:50px;*/
    /*margin-top: -55px;*/
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    /*border: 1px solid #000000;*/
    /*height: 36px;*/
    /*width: 16px;*/
    /*border-radius: 3px;*/
    /*background: #ffffff;*/
    /*cursor: pointer;*/
/*}*/
/*input[type=range]::-ms-track {*/
    /*margin-left:50px;*/
    /*margin-top: -55px;*/
    /*width: 10%;*/
    /*height: 8.4px;*/
    /*cursor: pointer;*/
    /*animate: 0.2s;*/
    /*background: transparent;*/
    /*border-color: transparent;*/
    /*border-width: 16px 0;*/
    /*color: transparent;*/
/*}*/
/*input[type=range]::-ms-fill-lower {*/
    /*margin-left:50px;*/
    /*margin-top: -55px;*/
    /*background: #2a6495;*/
    /*border: 0.2px solid #010101;*/
    /*border-radius: 2.6px;*/
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
/*}*/
/*input[type=range]::-ms-fill-upper {*/
    /*margin-left:50px;*/
    /*margin-top: -55px;*/
    /*background: #3071a9;*/
    /*border: 0.2px solid #010101;*/
    /*border-radius: 2.6px;*/
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
/*}*/
/*input[type=range]::-ms-thumb {*/
    /*margin-top: -55px;*/
    /*margin-left:50px;*/
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    /*border: 1px solid #000000;*/
    /*height: 36px;*/
    /*width: 10px;*/
    /*border-radius: 3px;*/
    /*background: #ffffff;*/
    /*cursor: pointer;*/
/*}*/
/*input[type=range]:focus::-ms-fill-lower {*/
    /*background: #3071a9;*/
/*}*/
/*input[type=range]:focus::-ms-fill-upper {*/
    /*background: #367ebd;*/



#canvasDivSpec{
    margin-top: 20px;
    margin-left: 5px;
    min-width: 1200px;
    height: 545px;
    position: absolute;
    overflow-x: scroll
}
#canvasSpec{
    margin-left: 25px;
    position: absolute;
    z-index: 0
}
#canvasLine{
    position: absolute;
    margin-left: 25px;
    z-index: 0
}

#canvasScale{
    border:2px solid #000000;
    position: absolute;
    z-index: 0

}


#divCanvasLegend{
    margin-top: -75px;
    margin-left: 800px;
    width: 300px;
    height: 75px;
    position: absolute;
}
#canvasLegend{
    position: absolute;
    z-index: 0;
    border:2px solid #000000;
}

#canvasDivWave{
    margin-top: 10px;
    margin-left: 5px;
    min-width: 1200px;
    height: 250px;
    position: absolute;
    overflow-x: scroll
}

#canvasWave{
    position: absolute;
    z-index: 0
}

#canvasRMS{
    position: absolute;
    z-index: 0;
}

#canvasWaveLine{
    position: absolute;
    z-index: 0
}
#progressBar {
    border: 1px solid #aaa;
    color: #fff;
    width: 295px;
    height: 20px;
}
#progress{
    background-color: red;
    height: 20px;
    display:inline-block;
}
#canvas {
    border-style: solid;
    border-width:1px;
    padding: 3px;
}
